*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:tahoma;
}

body {
    background: linear-gradient(to bottom, #a7c7e7, #f7f1e1); /* آبی روشن → رنگ شنی */
    color: #1a1a1a; /* متن تیره برای خوانایی */
}

.loop-box, .drop-item, .auth-btn {
    background: rgba(255, 255, 255, 0.5); /* شیشه‌ای سبک */
    backdrop-filter: blur(8px);
}


.header{
    position:fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:20px 40px;
    z-index:100;
}

.auth-btn{
    background:rgba(255,255,255,0.4);
    backdrop-filter:blur(10px);
    border:none;
    padding:10px 20px;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
    z-index: 100;
}

.auth-btn:hover{
    transform:scale(1.1);
}

.menu-wrapper{
    position:relative;
}

.hamburger{
    background:rgba(255,255,255,0.4);
    backdrop-filter:blur(10px);
    padding:10px;
    border-radius:15px;
    cursor:pointer;
}

.hamburger span{
    display:block;
    width:25px;
    height:3px;
    background:white;
    margin:5px 0;
}

.dropdown{
    position:absolute;
    top:60px;
    right:0;
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    padding:10px;
    border-radius:15px;
    display:none;
}

.drop-item{
    background:rgba(255,255,255,0.4);
    padding:10px;
    margin:5px 0;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
}

.drop-item:hover{
    transform:translateX(-5px);
}

.menu-wrapper:hover .dropdown{
    display:block;
}

.hero{
    height:50vh;
    position:relative;
}

.hero-img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.loop-section{
    height:50vh;
    display:flex;
    align-items:center;
    overflow:hidden;
}

.loop-container{
    display:flex;
    gap:30px;
    transition:transform 0.3s ease;
}

.loop-box{
    min-width:250px;
    height:150px;
    background:rgba(255,255,255,0.4);
    backdrop-filter:blur(10px);
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    transition:0.3s;
}

.loop-box:hover{
    transform:scale(1.1);
}
